# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000

DATABASE_URL='mysql://5gu1yqh3nbjmq0mh4nis:pscale_pw_v5ZDNT5aqG6uFr3UdGnJUc0s5ib45hDS8gOgubJIlXG@aws.connect.psdb.cloud/hack_bua?sslaccept=strict'

NEXTAUTH_URL='https://bua-hack.vercel.app/'
NEXTAUTH_SECRET="my_ultra_secure_nextauth_secret"

GITHUB_CLIENTID="9ef3c7a6f045e8cb2e45"
GITHUB_SECRET="66514e8c46bf61ca0e0c6651c73ead5249e8d52a"

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
# NEXTAUTH_URL=http://localhost:3000
# NEXTAUTH_SECRET=

# GITHUB_CLIENT_ID=
# GITHUB_CLIENT_SECRET=
# GITHUB_ACCESS_TOKEN=

# -----------------------------------------------------------------------------
# Database (MySQL - PlanetScale)
# -----------------------------------------------------------------------------
# DATABASE_URL="mysql://root:root@localhost:3306/taxonomy?schema=public"

# -----------------------------------------------------------------------------
# Email (Postmark)
# -----------------------------------------------------------------------------
SMTP_FROM=
POSTMARK_API_TOKEN=
POSTMARK_SIGN_IN_TEMPLATE=
POSTMARK_ACTIVATION_TEMPLATE=

# -----------------------------------------------------------------------------
# Subscriptions (Stripe)
# -----------------------------------------------------------------------------
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRO_MONTHLY_PLAN_ID=